// Kashi
// Copyright 2019 Kiran Chauhan
// Licensed under GNU GPL v3.0 (https://github.com/chauhankiran/kashi/blob/master/LICENSE)

.btn
  appearance none
  border 1px solid #333745
  background-color lighten(#333745, 40%)
  border-radius 3px
  box-shadow 0 4px 0 lighten(#333745, 20%)
  color #fffffe
  cursor pointer
  padding .5rem .8rem
  outline none
  position relative
  text-align center
  display inline-block
  margin-bottom .5rem
  margin-top .5rem
  text-decoration none

.btn:focus,
.btn:active
  background-color lighten(#333745, 20%)
  box-shadow none
  top 4px

.btn-brand
  border 1px solid #e63462
  background-color lighten(#e63462, 40%)
  box-shadow 0 4px 0 lighten(#e63462, 20%)

.btn-brand:active,
.btn-brand:focus
  background-color lighten(#e63462, 20%)
  box-shadow none
  top 4px

.btn:disabled,
.btn.disabled
  pointer-events none
  opacity 0.5

.btn-lg
  display block
  width 100%