.btn {
    appearance: none;
    border: 1px solid var(--black);
    background-color: var(--black);
    border-radius: 0;

    color: var(--white) !important;
    cursor: pointer;
    text-decoration: none !important;
    outline: none;

    padding: 0.5rem 0.8rem;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  
    box-shadow: 3px 4px 0px var(--black);
}
.btn:focus,
.btn:hover,
.btn:active {
    background: var(--white);
    color: var(--black) !important;
    border: 1px solid var(--black);
    box-shadow: 3px 4px 0px var(--black);
    text-decoration: underline !important;
}
.btn:disabled,
.btn.disabled {
    pointer-events: none;
    opacity: 0.5;
}
