.card {
    border: 1px solid #78809c;
    border-radius: .3rem;
    padding: 1rem;
    transition: box-shadow .3s;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.card:hover {
    box-shadow: 0 0 .7rem rgba(33,33,33,.2);
}
.card-header {
    margin-bottom: .5rem;
}
.card-title {
    font-size: 1.6rem;
}
.card-subtitle {
    font-size: 1.1rem;
    color: slategray;
}
.card-footer {
    color: var(--grey-color);
    margin-top: .5rem;
}
