// Colors.
// Blue   #00aedb
// Green  #00b159
// Gray   #425563
// White  #fff
// Black  #212121

blue = #00aedb
green = #00b159
gray = #425563
white = #fff
black = #212121

font-size = 1rem
big-font-size = 1.3rem
small-font-size = .7rem

line-height = 1.5

// Headers.
header-font-weight = 400
h1-font-size = 2.5rem
h2-font-size = 2rem
h3-font-size = 1.5rem
h4-font-size = 1rem
h5-font-size = .9rem
h6-font-size = .8rem

// Grid
grid-width = 960px
grid-columns = 12