input[type="text"],
input[type="password"] {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 2px solid #425563;
    border-radius: 0;
    height: 40px;
    margin-top: 0;
    padding: 4px;
    display: inline-block;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
input[type="text"]:focus,
input[type="password"]:focus {
    box-shadow: 0 0 0 4px #ffb81C;
    outline: 4px solid transparent;
    outline-offset: 4px;
}
input[type="text"].large,
input[type="password"].large {
    display: block;
    width: 100%;
}
input[type="text"].error,
input[type="password"].error {
  border: 4px solid #da291c;
}

select {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    border: 2px solid #425563;
    box-sizing: border-box;
    height: 40px;
    max-width: 100%;
    padding: 4px;
}
select.large {
    display: block;
    width: 100%;
}
select:focus {
    box-shadow: 0 0 0 4px #ffb81C;
    outline: 4px solid transparent;
    outline-offset: 4px;
}

label {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 4px;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.47368;
}
.label-vertical {
    display: block;
    width: 100%;
}