.text-box {
    outline: 0;
    border: 2px solid var(--black);
    padding: 0.5rem 0.8rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.text-box:focus {
    box-shadow: 3px 4px 0px var(--black);
}
.text-box:disabled,
.text-box.disabled {
    opacity: 0.5;
}

.text-box-lg {
    display: block;
    width: 100%;
}