// Kashi
// Copyright 2019 Kiran Chauhan
// Licensed under GNU GPL v3.0 (https://github.com/chauhankiran/kashi/blob/master/LICENSE)

.npt
  border 2px solid lighten(main-foreground, 20%)
  padding .5rem .8rem
  display inline-block
  margin-bottom .5rem
  margin-top .5rem

.npt:focus
  border-color main-foreground

.npt-brand
  border 2px solid lighten(main-brand, 20%)

.npt-brand:focus
  border-color main-brand

.npt:disabled,
.npt.disabled
  border-color lighten(main-foreground, 60%)

.npt-brand:disabled,
.npt-brand.disabled
  border-color lighten(main-brand, 60%)

.npt-lg
  display block
  width 100%

.slct
  background-color main-background
  color main-foreground
  border 2px solid lighten(black, 20%)
  padding .5rem .8rem
  display inline-block
  margin-top .5rem
  margin-bottom .5rem

.slct-brand
  border-color lighten(main-brand, 20%)

.slct-lg
  display block
  width 100%