.text-box {
    outline: 0;
    border: 1px solid var(--primary);
    transition: box-shadow 0.3s ease-in-out;
    padding: 0.5rem 0.8rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.text-box:focus,
.text-box:hover {
    box-shadow: 3px 4px 0px var(--primary);
}
.text-box:disabled,
.text-box.disabled {
    opacity: 0.5;
}

.option-box {
    outline: 0;
    border: 1px solid var(--primary);
    transition: box-shadow 0.3s ease-in-out;
    display: inline-block;
    padding: .5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.option-box:active,
.option-box:focus {
    background: var(--supportive);
    color: var(--primary) !important;
    box-shadow: 3px 4px 0px var(--primary);
    text-decoration: underline !important;
}
