// Kashi
// Copyright 2019 Kiran Chauhan
// Licensed under GNU GPL v3.0 (https://github.com/chauhankiran/kashi/blob/master/LICENSE)

.container
  width 100%
  max-width grid-width
  margin 0 auto

.row
  display flex
  flex-flow row wrap
  justify-content space-between

.col // Magic column.
  flex 1

for col in 1..cols
  .col-{col}
    width ((col / cols) * 100)%

@media sreen and ( max-width: mobile-grid-width )
  .col,
  [class^='col']
    flex-grow 0
    flex-basis 100%