// Kashi
// Copyright 2019 Kiran Chauhan
// Licensed under GNU GPL v3.0 (https://github.com/chauhankiran/kashi/blob/master/LICENSE)

.container
  width 100%
  max-width grid-width
  margin 0 auto

.row
  display flex
  flex-flow row wrap
  justify-content flex-start
  width 100%

.col
  flex 1

for column in 1..grid-columns
  .col-{column}
    width ((column / grid-columns) * 100)%

@media screen and (max-width: 768px) {
  .col,
  [class^='col-'],
  [class*=" col-"] {
    flex-grow: 0;
    flex-basis: 100%;
  }
}