.list-group {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}
.list-group-item {
    background-color: var(--white)
    display: block;
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--black);
    margin-bottom: -1px;
}
.list-group-item.active {
    background-color: var(--black);
    color: var(--white);
}
.list-group-item.disabled {
    opacity: 0.5;
}
.list-group-item:not(.active):hover,
.list-group-item:not(.active):hover a {
    background-color: var(--black);
    color: var(--white);
}