/**
 * Copyright (c) 2019 Kiran Chauhan (https://chauhankiran.github.io)
 *
 * This file is part of Kashi.
 *
 * Kashi is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Kashi is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Kashi. If not, see <https://www.gnu.org/licenses/>.
**/

*::before,
*::after
  -webkit-box-sizing border-box
  box-sizing border-box

body
  margin 0
  padding 0

a:hover,
a:active
  outline 0

b,
strong
  font-weight bold

code,
kbd,
pre,
samp
  font-family monospace, monospace

pre
  margin-bottom 0
  margin-top 0
  overflow auto

button,
input,
select,
textarea
  font-family inherit
  font-size 100%
  margin 0

textarea
  overflow auto
  resize vertical

textarea
  min-height 5rem

img
  vertical-align middle
