*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--supportive);
    color: var(--primary);
    font-size: var(--size);
    line-height: 1.428;
    font-family: var(--font);
}
a:hover,
a:active {
    outline: 0;
}
b,
strong {
    font-weight: var(--bold);
}
code,
kbd,
pre,
samp {
    font-family: var(--mono);
}
pre {
    overflow-x: auto;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
}
textarea {
    overflow: auto;
    resize: vertical;
    min-height: 5rem;
}
img {
    vertical-align: middle;
}
