*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size);
    line-height: 1.5;
    font-family: var(--text-font);
}
a:hover,
a:active {
    outline: 0;
}
b,
strong {
    font-weight: var(--font-bold);
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
}
pre {
    overflow-x: auto;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
}
textarea {
    overflow: auto;
    resize: vertical;
    min-height: var(--min-textarea-height);
}
img {
    vertical-align: middle;
}
