// Kashi
// Copyright 2019 Kiran Chauhan
// Licensed under GNU GPL v3.0 (https://github.com/chauhankiran/kashi/blob/master/LICENSE)

table
  border-collapse collapse
  width 100%
  overflow-x auto

th,
td
  padding .75rem
  border-top 1px solid black

thead th
  border-bottom 2px solid black
  text-align inherit

.table-bordered
  border 1px solid black

.table-hover tbody tr:hover
  background-color lighten(black, 96%)