table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}
th,
td {
    padding: var(--small);
    border-top: 1px solid var(--black);
}
thead th {
    border-bottom: 1px solid var(--black);
    text-align: inherit;
}
.table-bordered {
    border: 1px solid var(--black);
}
.table-hover tbody tr:hover {
    background-color: var(--black);
    color: var(--white);
}