table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}
th,
td {
    padding: var(--small);
    border-top: 1px solid var(--primary);
}
thead th {
    border-bottom: 1px solid var(--primary);
    text-align: inherit;
}
table.bordered {
    border: 1px solid var(--primary);
}
table.hover tbody tr:hover {
    background-color: var(--primary);
    color: var(--supportive);
}