h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--header-font-weight);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}
h4 {
    font-size: var(--h4-font-size);
}
h5 {
    font-size: var(--h5-font-size);
}
h6 {
    font-size: var(--h6-font-size);
}
address,
p {
    font-size: var(--font-size);
    margin-top: 0;
    margin-bottom: 16px;
}
small {
    font-size: var(--font-size-small);
}
a {
    color: var(--link-color);
    text-decoration: var(--link-decoration);
}
a:hover {
    color: var(--link-color);
    text-decoration: var(--link-decoration-hover);
}
