// Kashi
// Copyright 2019 Kiran Chauhan
// Licensed under GNU GPL v3.0 (https://github.com/chauhankiran/kashi/blob/master/LICENSE)

h1,
h2,
h3,
h4,
h5,
h6
  font-weight header-font-weight
  margin-top 0.5rem
  margin-bottom 0.5rem

// font size.
headers-font-size = h1-font-size, h2-font-size, h3-font-size, h4-font-size, h5-font-size, h6-font-size
for header-font-size, header-type in headers-font-size
  h{header-type + 1}
    font-size header-font-size

address,
p
  font-size font-size
  margin-top 0
  margin-bottom 1rem

small
  font-size small-font-size

a
  color blue
  text-decoration none

a:hover
  color lighten(blue, 30%)

u
  text-decoration underline

b,
strong
  font-weight 700

i,
em
  font-style italic
