h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--h-weight);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
h1 {
    font-size: var(--h1);
}
h2 {
    font-size: var(--h2);
}
h3 {
    font-size: var(--h3);
}
h4 {
    font-size: var(--h4);
}
h5 {
    font-size: var(--h5);
}
h6 {
    font-size: var(--h6);
}
address,
p {
    font-size: var(--size);
    margin-top: 0;
    margin-bottom: var(--size);
}
small {
    font-size: var(--small);
}
a {
    color: var(--primary);
    text-decoration: var(--a-decor)
}
a:hover {
    color: var(--primary);
    text-decoration: var(--a-hover-decor);
}
