.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}

.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}

.text-muted {
    opacity: .7;
}

.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}
.none {
    display: none;
}

.rectangle {
    border-radius: 0;
}
.rounded {
    border-radius: 0.5rem;
}
.circle {
    border-radius: 50%;
}

.left {
    float: left;
}
.right {
    float: right;
}

.text-big {
    font-size: var(--big);
}
.text-small {
    font-size: var(--small);
}
.text-normal {
    font-size: var(--size);
    font-style: normal;
    font-weight: normal;
}

.text-bold {
    font-weight: var(--bold);
}
.text-italic {
    font-style: italic;
}
.text-light {
    font-weight: var(--light)
}

.invisible {
    visibility: hidden;
}
