// Kashi
// Copyright 2019 Kiran Chauhan
// Licensed under GNU GPL v3.0 (https://github.com/chauhankiran/kashi/blob/master/LICENSE)

// Text align options.
text-alignment-options = left, center, right, justify
for text-alignment-option in text-alignment-options
  .text-{text-alignment-option}
    text-align: text-alignment-option

// Text transform options.
text-transform-options = lowercase, uppercase, capitalize
for text-transform-option in text-transform-options
  .text-{text-transform-option}
    text-transform text-transform-option

// Text display options.
text-display-options = block, inline-block, inline, none
for text-display-option in text-display-options
  .{text-display-option}
    display text-display-option

// Text shape options.
text-shape-options = {
  ractangle:  0,
  rounded: .5rem
  circle: 50%
}
for text-shape-option, text-shape-value in text-shape-options
  .{text-shape-option}
    border-radius: text-shape-value

// Text floating options.
text-float-options = left, right
for text-float-option in text-float-options
  .{text-float-option}
    float text-float-option

// Text size options.
text-size-options = {
  big: 1.3rem,
  normal: 1rem,
  small: .7rem
}
for text-size-option, text-size-option-value in text-size-options
  .text-{text-size-option}
    font-size text-size-option-value

.text-regular
  font-style normal
  font-weight normal

.text-bold
  font-weight bold

.text-italic
  font-style italic

.text-thin
  font-weight thin

.invisible
  visibility hidden