/**
 * Copyright (c) 2019 Kiran Chauhan (https://chauhankiran.github.io)
 *
 * This file is part of Kashi.
 *
 * Kashi is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Kashi is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Kashi. If not, see <https://www.gnu.org/licenses/>.
**/

.text-left
  text-align left

.text-center
  text-align center

.text-right
  text-align right

.text-justify
  text-align justify

.text-regular
  font-style normal
  font-weight normal

.text-bold
  font-weight bold

.text-italic
  font-style italic

.text-thin
  font-weight thin

.text-lowercase
  text-transform lowercase

.text-uppercase
  text-transform uppercase

.text-capitalize
  text-transform capitalize

.block
  display block

.inline
  display inline

.inline-block
  display inline-block

.ractangle
  border-radius 0

.rounded
  border-radius .5rem

.circle
  border-radius 50%

.hidden
  display none

.invisible
  visibility hidden

.left
  float left

.right
  float right
