:root {
    --primary: #000;
    --supportive: #fff;

    --font: "helvetica neue", arial, sans-serif;
    --mono: Menlo, Monaco, Consolas, "Courier New", monospace;

    --size: 14px;
    --small: 12px;
    --big: 16px;

    --normal: 400;
    --light: 100;
    --bold: 700;

    --h-weight: var(--normal);
    --h1: 2.25rem;
    --h2: 1.875rem;
    --h3: 1.5rem;
    --h4: 1.5rem;
    --h5: 0.875rem;
    --h6: 0.75rem;

    --a-decor: underline;
    --a-hover-decor: none;

    --container: 60rem;
    --mobile-container: 42rem;

    --nav-height: 2rem;
    --nav-brand: var(--big);
    --nav-active: underline;
}
