:root {
    --background-color: #fff;
    --text-color: #333745;
    --brand-color: #ff5630;
    --brand-color-variation: #de350b;
    --link-color: #0052cc;
    --link-color-variation: #0747a6;
    --grey-color: #6b778c;
    --grey-color-variation: #5e6c84;

    --text-font: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    --mono-font: Menlo, Consolas, "DejaVu Sans Mono", Monaco, monospace;

    --font-size: 16px;
    --font-size-small: 12.8px;
    --font-size-big: 19.2px;
    --font-weight-bold: 700;
    --font-weight-light: 100;

    --border-size: 1px;
    --border-color: var(--grey-color);
    --border-radius: .3rem;

    --header-font-weight: 400;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 1.125rem;
    --h6-font-size: 1rem;

    --grid-container-width: 60rem;
    --grid-mobile-container-width: 42rem;

    --nav-height: 5rem;

    --textarea-height: 5rem;
}
